@for (group of groups(); track group.label) {
  <h4 class="lore-relations-heading">{{ group.label }}</h4>
  <ul class="lore-relations">
    @for (link of group.links; track link.relation.id + link.direction) {
      @let target = linkFor()(link.other);
      <li>
        @if (link.direction === 'outgoing') {
          <span class="lore-relation-type">{{ link.relation.type }}</span>
          <a [routerLink]="target.commands" [queryParams]="target.queryParams">{{ link.other.name }}</a>
          <span class="lore-relation-entry-type">({{ link.other.type }})</span>
        } @else {
          <a [routerLink]="target.commands" [queryParams]="target.queryParams">{{ link.other.name }}</a>
          <span class="lore-relation-entry-type">({{ link.other.type }})</span>
          <span class="lore-relation-type">{{ link.relation.type }} cette fiche</span>
        }
        @if (removable() && link.direction === 'outgoing') {
          <button
            type="button"
            class="lore-relation-remove"
            [attr.aria-label]="'Supprimer la relation « ' + link.relation.type + ' ' + link.other.name + ' »'"
            (click)="remove.emit(link.relation)"
          >
            Supprimer
          </button>
        }
      </li>
    }
  </ul>
} @empty {
  <p class="lore-relations-empty">Aucune relation pour le moment.</p>
}
